/* 周辺のスポット ========================*/
.other_spot_container {
    width: 100%;
    margin: 100px auto 0;
    padding-bottom: 150px;
}

.other_spot_title_container h2 {
    text-align: center;
    margin-bottom: 90px;
}

.other_spot_box {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, 370px);
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* カード grid ~~~~~~~~~~~~*/
.other_spot_card {
    width: 370px;
    height: fit-content;
    background-color: #ffffff;
    border: 5px solid #F85525;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0;
    transition: 0.3s;
}

.other_spot_card>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.other_spot_card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px #FBD266;
    /* filter: sepia(20%); */
}


.other_spot_card_inner {
    border: 3px solid #F85525;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 97%;
    top: 1.5%;
    left: 2.5%;
    pointer-events: none;
}

/* カード画像  ~~~~~~~~~~*/
.other_spot_contant_img {
    width: 85%;
    margin: 8% auto 5%;
}

.other_spot_contant_img img {
    width: 100%;
    aspect-ratio: 4/3;
}


/* カードタグ  ~~~~~~~~~~*/
.other_spot_contant_tag {
    width: 90%;
    height: fit-content;
    margin: 0 auto 5%;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    z-index: 1;
    /* ルートスタッキングコンテキストで包まれている */
}

.other_spot_contant_tag a {
    display: flex;
    align-items: center;
    background-color: #181818;
    color: #ffffff;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    width: fit-content;
    height: 3em;
    padding: 0 5%;
    margin: 2%;
    border-radius: 50px;
    transition: 0.3s;
}

.other_spot_contant_tag a:hover {
    background-color: #028391;
}

/* カードの名前  ~~~~~~~~~~*/
.other_spot_content_name {
    width: 100%;
}

.other_spot_content_name h3 {
    background-color: #01204E;
    color: #ffffff;
    font-family: "Kaisei Opti", serif;
    font-size: 24px;
    margin: 0 auto;
    padding: 5%;
}


/* カードのテキスト  ~~~~~~~~~~*/
.other_spot_contant_text {
    width: 90%;
    margin: 0 auto 3%;
    padding: 0 8px;

}

.other_spot_contant_text p {
    text-align: left;
    overflow-wrap: break-word
}


@media screen and (max-width:400px) {
    .other_spot_card {
        transform: scale(0.85);
        row-gap: 20px;
    }

    .other_spot_card:hover {
        transform: scale(0.9);
    }
}
