@charset "utf-8";


@media screen and (max-width:400px) {
    .colamn_box {
        gap: 40px;
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .colamn_card {
        width: 300px;
    }
}


/* コラムカードリスト ========================*/
.colamn_container {
    width: 100%;
    margin: 100px auto 0;
    padding-bottom: 150px;
}

.other_spot_title_container h2 {
    text-align: center;
    margin-bottom: 90px;
}


/* カード grid ~~~~~~~~~~~~*/
.colamn_box {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, 370px);
    justify-content: center;
    align-items: center;
    text-align: center;
}


.colamn_card {
    width: 370px;
    height: fit-content;
    background-color: #ffffff;
    border: 5px solid #028391;
    position: relative;
    display: grid;
    grid-row: span 4;
    gap: 0;
    transition: 0.3s;
}

.colamn_card>a {
    position: absolute;
    width: 90%;
    height: 100%;
}

.colamn_card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px #808cabc8;
    /* filter: sepia(20%); */
}


.colamn_card_inner {
    border: 3px solid #6fb5bd;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 97%;
    top: 1.5%;
    left: 2.5%;
    pointer-events: none;
}

/* カード画像  ~~~~~~~~~~*/
.colamn_contant_img {
    width: 85%;
    margin: 8% auto 5%;
}

.colamn_contant_img img {
    width: 100%;
    aspect-ratio: 4/3;
}


/* カードタグ  ~~~~~~~~~~*/
.colamn_contant_tag {
    width: 90%;
    height: fit-content;
    margin: 0 auto 5%;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    z-index: 1;
    /* ルートスタッキングコンテキストで包まれている */
}

.colamn_contant_tag a {
    display: flex;
    align-items: center;
    background-color: #1a2b3c;
    color: #ffffff;
    width: fit-content;
    height: 3em;
    padding: 0 5%;
    margin: 2%;
    border-radius: 50px;
    transition: 0.3s;
}

.colamn_contant_tag a:hover {
    background-color: #028391;
}

/* カードの名前  ~~~~~~~~~~*/
.colamn_content_name {
    width: 100%;
}

.colamn_content_name h3 {
    font-family: "Kaisei Opti", serif;
    font-size: 24px;
    margin: 0 auto;
    padding: 5%;
}


.colamn_list_container {
    position: relative;
    width: 80%;
    padding: 7rem;
    background-color: #fff;
    margin: 15rem auto 8rem;
}

.colamn_list {
    margin: 3rem;
}

.pigimg {
    position: absolute;
    z-index: 2;
    width: 15%;
    height: 150px;
    top: -8rem;
    left: 70%;
}

/* ページネーション */
.pagination_box {
    width: 70%;
    margin: 0 auto;
    padding: 3em;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    font-weight: 800;
    font-size: 16px;
    padding: 0.5rem 0.8rem;
    margin: 1rem;
}

.pagination a.active {
    background-color: #1A2B3C;
    color: white;
    border-radius: 20%;
}

.pagination a:hover:not(.active) {
    background-color: #b3b3b3;
    color: #fff;
    border-radius: 10px;
}
