* {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Zen Kaku Gothic New", sans-serif;

    /*
    img {
        width: 100%;
        height: 100%;
    } */
}

.wrap {
    width: 100%;
    height: 100%;
    background-color: #fffdf0;
}

.header_image {
    width: 100%;
    height: 200px;
    background-color: orange;
}

/* ナビ設定 */
.header_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo_box {
    width: 15%;
    height: 100px;
    display: flex;
    position: absolute;
    margin-left: 50px;
}

.logo_box img {
    width: 200px;
}

.gnav {

    width: 100%;
}

.nav_inner {
    margin: 0 auto;
    text-align: center;
}

.nav_inner nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav_item {
    width: 10%;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0 0 70px 70px;
}

.nav_item a {
    display: block;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    /* height: 100%; */
    /* padding: 1.8rem 1rem; */
    line-height: 1.33;
    text-align: center;
}

.nav_icon {
    display: block;
    margin-top: 0.5rem;
    height: 50px;
}

.nav_icon img {
    width: 40px;
}

.color1 {
    background-color: #ff916f;
}

.color2 {
    background-color: #fad4b6;
}


/* フォント設定 */


h2 {
    font-size: 42px;
    font-weight: bold;
    font-family: "Kaisei Opti", serif;
}


h3 {
    font-size: 32px;
    font-weight: 500;
}

p {
    font-size: 16px;
}

.small {
    font-size: 13px;
}

.dotted {
    border-bottom: 8px dotted orange;
    width: fit-content
}

.title_box {
    width: 100%;
    margin: 5rem auto;
    width: fit-content;
}

/* ボタンリスト */
.btn_content {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
}

.btn_item {
    width: 50%;
    margin: 20px;
    padding: 0.8rem;
    border: 1px solid #028391;
    background-color: #ffffff;
    text-align: center;
}

.btn_item:hover {
    background-color: #028391;
}

.choice {
    background-color: #028391;
}

.choice p {
    color: #ffffff;
}