/* ページ全体 */
.wrap {
    background-image: url(../images/food_list/back_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* コンテンツを中央配置 */
.contents_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* コンテンツの最大幅を決定 */
.contents {
    /* background-color: #fdeccb; */
    max-width: 1280px;
    width: 100%;
    border: solid 1px black;
}

/* タイトルーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.title_container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/food_list/fure-mu02.png);
    background-size: cover;
}

.title_box_img {
    img {
        margin-top: 20px;
        max-width: 200px;
        max-height: 80px;
        transform: rotate(30deg);
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーータイトル */

/* ページ解説ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.explanation_container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.explanation_text_h3 {
    text-align: center;
    padding: 0;
}

.explanation_box {
    img {
        margin-top: 20px;
        max-width: 200px;
        max-height: 200px;
        /* transform: rotate(30deg); */
    }
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーページ解説 */

/* スクリーンのコンテナサイズ */
.screen_container {
    height: 400px;
}

/* カテゴリーコンテナーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.category_container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.category_item {
    position: relative;
    width: 20%;
    height: 50%;
    margin-right: 40px;
    cursor: pointer;
    border: dashed 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_item_text {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

/* .category_bgi1 {
    background-image: url(../images/food_list/food_category01.jpg);
    background-size: cover;
}

.category_bgi2 {
    background-image: url(../images/food_list/food_category02.jpeg);
    background-size: cover;
}

.category_bgi3 {
    background-image: url(../images/food_list/food_category03.png);
    background-size: cover;
} */

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーカテゴリーコンテナ */

/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    height: 400px;
    max-width: 426px;
    /*スライダー内の画像を横幅100%に*/
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 10px;
    /*スライド左右の余白調整*/
}


.green {
    background-color: rgb(91, 247, 91);
}
