.contents_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    background-color: #fdeccb;
    max-width: 1280px;
    width: 100%;
    background-image: url(../images/food_list/back_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.title_container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/food_list/fure-mu.png);
    background-size: cover;
}

.explanation_container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.explanation_text_h3 {
    text-align: center;
    padding: 0;
}

.explanation_img_box {
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotate(30deg);
    right: 0;

    img {
        margin-top: 20px;
        max-width: 200px;
        max-height: 200px;
    }
}


.screen_container {
    height: 400px;
}

.category_container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_item {
    width: 20%;
    height: 80%;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;

}

.category_bgi1 {
    background-image: url(../images/food_list/food_category01.jpg);
    background-size: cover;
}

.category_bgi2 {
    background-image: url(../images/food_list/food_category02.jpeg);
    background-size: cover;
}

.category_bgi3 {
    background-image: url(../images/food_list/food_category03.png);
    background-size: cover;
}

.img_item {
    width: 100%;
    height: 100%;
}



/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    height: 400px;
    max-width: 426px;
    /*スライダー内の画像を横幅100%に*/
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 10px;
    /*スライド左右の余白調整*/
}
