.top_conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contents {
    max-width: 1280px;
    width: 100%;
    height: 100%;
}

.bgc_secthion_y {
    background-color: #ffd771;
}

.bgc_secthion_w {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b_s {
    border: solid 1px black;
}

.top_title_box {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_text_box {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_text_box_inner {
    max-width: 1000px;
    width: 100%;
}

.top_link_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.top_link_box_data a {
    border-bottom: dashed 5px;
    /* font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal; */
    /* text-shadow: 1px 1px 1px #ffff; */
    font-weight: 500;
    font-family: "Kaisei Opti", serif;
    color: black;
}

.top_colam_box {
    background-color: #ffff;
    margin: 40px 20px 20px 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.top_colam_box_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_colam_box_list {
    margin: 20px 20% 20px 10%;
}

.colam_box_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 10px 10px;

}

.colam_box_list_item_genre {
    background-color: #028391;
    color: #ffff;
    width: 20%;
    text-align: center;
    padding: 5px 0 5px 0;
    margin-right: 20px;
}

.colam_box_list_item_border {
    width: 80%;
    height: 100%;
    border-bottom: 2px solid black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.colam_box_list_item_article {
    height: 100%;
    margin-left: 50px;
    margin-bottom: 10px;
}

.top_look_box {
    width: 100;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top_look_box_aitem {
    height: 100px;
    width: 200px;
}

.contents2 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.food_title_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.food_title_box_inner {
    width: 500px;
    height: 200px;
}

.test {
    width: 100%;
    height: 100%;
}

.food_image_box {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px 0;
}

.food_image_box_data {
    width: 320px;
    height: 240px;
}


.food_title_box {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food_text_box {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food_text_box_inner {
    max-width: 800px;
    width: 100%;
}

.food_look_box {
    width: 100;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.food_look_box_aitem {
    height: 100px;
    width: 200px;
}
