@charset "utf-8";

img {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffe49f;
}

/* テンプレート */
.main_conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contents {
    max-width: 1280px;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    /* background-color: #ffe49f; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 背景橙付与 */
/* .bgc_secthion_y {
    background-color: #ffd771;
} */

/* 背景白付与 */
.bgc_secthion_w {
    background-color: #ffffff;
}

/* ボーダーライン付与 */
.b_s {
    border: solid 1px black;
}

/* ホバー機能付与 */
.hover_data:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* ホバー機能付与 */
.hover_data2:hover {
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
}

/* セクションフラッグ */
.red_section {
    background-image: url(../images/front_page/title-flag01.png);
    background-size: 100% 100%;
}

.blue_section {
    background-image: url(../images/front_page/title-flag02.png);
    background-size: 100% 100%;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーセクションフラッグ */

/* セクション１－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－ */
.top_title_box {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    opacity: 0.8;
}

.top_text_box {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    opacity: 0.8;
}

.top_text_box_inner {
    max-width: 1000px;
    width: 100%;
}

.top_link_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    z-index: 10;
    opacity: 0.8;
}

.top_link_box_data a {
    border-bottom: dashed 5px;
    font-weight: 500;
    font-family: "Kaisei Opti", serif;
    color: black;
}

.top_colam_box {
    background-color: #ffff;
    margin: 40px 20px 20px 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    z-index: 10;
    opacity: 0.8;
}

.top_colam_box_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_colam_box_list {
    margin: 20px 20% 20px 10%;

}

.colam_box_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 10px 10px;

}

.colam_box_list_item_genre {
    background-color: #028391;
    color: #ffff;
    width: 20%;
    text-align: center;
    padding: 5px 0 5px 0;
    margin-right: 20px;
}

.colam_box_list_item_border {
    width: 80%;
    height: 100%;
    border-bottom: 2px solid black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.colam_box_list_item_article {
    height: 100%;
    margin-left: 50px;
    margin-bottom: 10px;
}

.top_look_box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top_look_box_aitem {
    height: 100px;
    width: 200px;
}

.deco_01 {
    width: 150px;
    height: 350px;
    top: 350px;
    left: -20px;
    position: absolute;
    z-index: 9;
    transform: rotate(20deg);
}

.deco_02 {
    width: 350px;
    height: 250px;
    top: 600px;
    left: -20px;
    position: absolute;
    z-index: 8;
    transform: rotate(-20deg);
}

.deco_03 {
    width: 150px;
    height: 350px;
    top: 350px;
    right: 20px;
    position: absolute;
    z-index: 9;
    transform: rotate(-10deg);
}

.deco_04 {
    width: 350px;
    height: 250px;
    top: 600px;
    right: 20px;
    position: absolute;
    z-index: 8;
    transform: rotate(20deg);
}

/* お食事処・レトロスポットーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.template_section_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    margin-top: 20px;
}

.template_section_box {
    width: 600px;
    height: 200px;
}


.template_section_box_text {
    padding-top: 10%;
    padding-left: 10%;
    color: #ffffff;
}


.template_image_box {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px 0;
}

.template_image_box_data {
    width: 320px;
    height: 240px;
}


.template_title_box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template_text_box {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template_text_box_inner {
    max-width: 800px;
    width: 100%;
}

.template_look_box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.template_look_box_aitem {
    height: 100px;
    width: 200px;
}

/* 地図----------------------------------------------------------- */
.map_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_box_data {
    margin-top: 50px;
    /* width: 1000px;
    height: 700px; */
    width: 100%;
    height: fit-content;
    position: relative;
}



.map_box_data_area {
    position: absolute;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    transition: 0.3s;

}

.map_box_data_area a {
    font-size: 16px;
    color: #181818;
    background-color: #FBD266;
    padding: 0.3em 2em;
    border-radius: 50px;
    border: 2px dotted #181818;
    box-shadow: 3px 3px #18181843;
    transition: 0.3s;
}

.map_box_data_area:hover {
    transform: translate(2px, 2px);
}

.map_box_data_area a:hover {
    box-shadow: 1px 1px #18181843;
}

.map_box_data_area.area1 {
    top: 33%;
    left: 65%;
}

.map_box_data_area.area2 {
    top: 33%;
    left: 55%;
}

.map_box_data_area.area3 {
    top: 60%;
    left: 53%;
}

.map_box_data_area.area4 {
    top: 40%;
    left: 28%;
}

@media screen and (max-width: 1200px) {
    .map_box_data_area.area1 {
        top: 31%;
        left: 60%;
    }

    .map_box_data_area.area2 {
        top: 38%;
        left: 56%;
    }
}

@media screen and (max-width: 800px) {
    .map_box_data_area a {
        font-size: 13px;
        padding: 0.1em 1em;
    }
}

@media screen and (max-width: 550px) {
    .map_box_data_area.area1 {
        top: 28%;
        left: 60%;
    }

    .map_box_data_area.area2 {
        top: 38%;
        left: 55%;
    }
}

@media screen and (max-width: 400px) {
    .map_box_data_area a {
        padding: 0 1em;
    }
}


/* モデルコースーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.model_box {
    margin: 100px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model_box_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model_box_list_item {
    border: dashed 2px;
    background-color: #ffe49f;
    height: 100px;
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* ギャラリーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.gallery_box {
    margin-top: 40px;
}

.gallery_box_film {
    background-color: black;
}

.gallery_box_film_img {
    height: 40px;
    width: 100%;
    background-image: url(../images/front_page/film_w.png);
    background-repeat: repeat-x
}

/* インスタグラムーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.insta_box {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta_box_data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.insta_box_data_item {
    width: 300px;
    height: 300px;
    /* margin-top: 20px; */
    margin-right: 5px;
    margin-bottom: 5px;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider img {
    height: 400px;
    max-width: 426px;
    /*スライダー内の画像を横幅100%に*/
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin: 0 10px;
    /*スライド左右の余白調整*/
}


/* レスポンシブ */
/* @media screen and (max-width: 850px) {} */

@media screen and (max-width: 760px) {
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        margin: 0 20px 0 20px;
    }

    .template_section_title {
        padding-left: 0px;
        margin-right: 20px;
    }

    .template_section_box_text {
        padding-top: 15%;
    }

    .top_text_box_inner p {
        margin: 0 20px 0 20px;
    }

    .colam_box_list_item {
        display: block;
    }

    .colam_box_list_item_border {
        width: 100%;
        height: 100%;
    }

    .colam_box_list_item_article {
        margin-left: 0;
        margin-bottom: 0;
    }

    .colam_box_list_item_genre {
        width: 100%;
        margin-bottom: 10px;
    }

    .model_box_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .insta_box_data_item {
        width: 150px;
        height: 150px;
        /* margin-top: 20px; */
        margin-right: 5px;
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 400px) {
    .template_section_box_text {
        padding-top: 23%;
    }
}
