@charset "utf-8";

/* 共通部分はCSS削除済み */


/* ============================= */
.gallery_main {
    background-color: #028391d8;
}

.gallery_filter {
    width: 100%;
    height: 100%;
    background: url(../images/texture01.png);
}


.gallery_container {
    width: 100%;
    margin: 0 auto;
}

.gallery_container h2 {
    padding: 100px 0 100px;
    text-shadow: 1px 1px 1px #ffffff;
    text-align: center;
}

.gallery_box {
    width: 90%;
    max-width: 1260px;
    height: fit-content;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 50px 30px 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.gallery_img {
    width: 350px;
    height: 262.5px;
    object-fit: cover;
}

.gallery_img img {
    width: 100%;
    height: 100%;
    filter: grayscale(80%);
    transition: 0.3s;
}

.gallery_img img:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
    position: relative;
    z-index: 1;
    border: 10px solid #f8e7c4;
    box-shadow: 0 0 1px 1px #181818;
}

/* 背景イラスト */
.gallery_bgimg {
    position: absolute;
    z-index: 2;
}

.gallery_bgimg.g_bg1 {
    top: -160px;
    left: 10%;
    width: 170px;
}

.gallery_bgimg.g_bg2 {
    top: -90px;
    right: 15%;
    width: 150px;
}

.gallery_bgimg.g_bg3 {
    top: 30%;
    left: -5%;
    width: 200px;
    transform: rotate(-20deg);
}

.gallery_bgimg.g_bg4 {
    top: 80%;
    right: -80px;
    width: 150px;
    transform: rotate(20deg);
}

/* .gallery_bgimg.g_bg5 {
    bottom: -12px;
    left: 10%;
    width: 100px;
} */

.gallery_bgimg.g_bg1 img,
.gallery_bgimg.g_bg2 img,
.gallery_bgimg.g_bg3 img,
.gallery_bgimg.g_bg4 img

/* ,
.gallery_bgimg.g_bg5 img  */
    {
    width: 100%;
}

@media screen and (max-width:1050px) {
    .gallery_bgimg.g_bg1 {
        left: 5%;
    }

    .gallery_bgimg.g_bg2 {
        right: 10%;
    }
}

@media screen and (max-width:882px) {
    .gallery_bgimg.g_bg3 {
        left: -5%;
    }

    .gallery_bgimg.g_bg4 {
        right: -5%;
        width: 150px;
    }

    /* .gallery_bgimg.g_bg5 {
        left: 25%;

    } */
}

@media screen and (max-width:760px) {
    .gallery_bgimg.g_bg1 {
        width: 100px;
        top: -100px;
    }

    .gallery_bgimg.g_bg2 {
        width: 100px;
        top: -60px;
        right: 10%;
    }
}


@media screen and (max-width:450px) {
    .gallery_bgimg.g_bg3 {
        width: 150px;
    }

    .gallery_bgimg.g_bg4 {
        width: 100px;
        right: -10%;
    }

    .gallery_img {
        width: 280px;
        height: 210px;
    }

    .gallery_box {
        width: 95%;
        grid-template-columns: repeat(auto-fit, 280px);
    }
}

/* ページネーション  */
/* .gallery_pagination_box {
    width: 70%;
    margin: 0 auto;
    padding: 3em;
}

.gallery_pagination {
    display: flex;
    justify-content: center;
}

.gallery_pagination a {
    color: black;
    font-weight: 800;
    font-size: 16px;
    padding: 0.5rem 0.8rem;
    margin: 1rem;
}

.gallery_pagination a.active {
    background-color: #1A2B3C;
    color: white;
    border-radius: 20%;
}

.gallery_pagination a:hover:not(.active) {
    background-color: #B3B3B3;
    color: #fff;
    border-radius: 10px;
}

.gallery_pagination_box {
    width: 70%;
    margin: 0 auto;
    padding: 3em;
} */


/* プラグインに合わせてCSS作成 */
.wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-pagenavi .current {
    padding: 0.5rem 0.8rem;
    border-radius: 20%;
}

.wp-pagenavi a {
    color: black;
    font-weight: 800;
    font-size: 16px;
    padding: 0.5rem 0.8rem;
    margin: 1rem;
}

.wp-pagenavi a.active {
    background-color: #1A2B3C;
    color: white;
    border-radius: 20%;
}

.wp-pagenavi a:hover:not(.active) {
    background-color: #B3B3B3;
    color: #fff;
    border-radius: 10px;
}
