@charset "utf-8";

a {
    color: black;
}

.model {
    color: orange;
}

.model_title {
    width: 100%;
    margin: 0 auto;
}

.model_body_textbox {
    width: 70%;
    margin: 0 auto;
}

.model_box {
    max-width: 60%;
    margin: 0 auto;
}

.tag {
    margin-right: 3rem;
}

.model_inner {
    width: 50%;
    display: inline-block;
    white-space: nowrap;
}


.model_inner_time {
    padding: 0.8rem 1.5rem 0.8rem 0.8rem;
    background-color: gray;
    color: #fff;
    box-shadow: 8px 10px 13px 0px rgba(0, 0, 0, 0.25);
}

.model_inner_body {
    background-color: #fff;
    padding: 0.8rem 2rem 0.8rem 2rem;
    box-shadow: 8px 10px 13px 0px rgba(0, 0, 0, 0.25);
}

.model_body {
    width: 60%;
    right: 4rem;
    margin: 5rem auto;
}

.model_spot_contanier {
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.model_spot_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model__title_box {
    width: 70%;
}

.detail_link {
    position: relative;
}


.model_spot_titile {
    font-size: 20px;
    /* border: 1px solid; */
    background-color: #345268;
    color: #fff;
}

.model_img {
    height: 100%;
}

.model_img img {
    height: 100%;
    vertical-align: bottom;
}

.model_spot_img {
    width: 70%;

}

@media screen and (max-width:1100px) {
    .model_inner {
        width: 90%;
        white-space: normal;
    }

    .model_inner span {
        display: inline-block;
    }

}

@media screen and (max-width:760px) {

    .course_title {
        font-size: 20px;
        margin: 5px;
    }

    .model_box {
        max-width: 80%;
    }


    .model_body {
        width: 80%;
    }

    .tag {
        margin: 0 auto;
    }
}


hr {
    width: 80%;
    margin: 0 auto;
    border: 2px solid;
}

/* その他モデルコース */
.other_model_spot_contanier {
    max-width: 1240px;
    margin: 2rem auto;
    padding-bottom: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 180px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other_model_spot_box {
    width: 180px;
    height: fit-content;
    background-color: rgba(226, 216, 198, 0.5);
    border: dashed 4px #181818;
    box-shadow: 10px 14px 6px 2px rgba(223, 187, 120, 0.7);
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0;
}

.other_model_spot_body {
    margin: 1rem;
}

.other_model_spot_body p {
    font-size: 14px;
}

.other_model_spot_titile {
    margin: 1rem;
    font-size: 17px;
}


.example {
    position: relative;
}

.example h3 {
    position: absolute;
    top: 85%;
    /*画像の左上に配置*/
    left: 15%;
    margin: 0;
    /*余計な隙間を除く*/
    color: white;
    /*文字を白に*/
    background: rgb(47, 86, 101);
    /*背景色*/
    font-size: 15px;
    line-height: 1;
    /*行高は1に*/
    padding: 1rem;
    /*文字周りの余白*/
}

.example img {
    width: 50%;
}