@charset "utf-8";

a {
    color: black;
}

.model {
    color: orange;
}

.model_title {
    width: 100%;
    margin: 0 auto;
}

.model_body_textbox {
    width: 70%;
    margin: 0 auto;
}

.model_box {
    max-width: 60%;
    margin: 0 auto;
}

.tag {
    margin-right: 3rem;
}

.model_inner {
    width: 50%;
    display: inline-block;
    white-space: nowrap;
}


.model_inner_time {
    padding: 0.8rem 1.5rem 0.8rem 0.8rem;
    background-color: gray;
    color: #fff;
    box-shadow: 8px 10px 13px 0px rgba(0, 0, 0, 0.25);
}

.model_inner_body {
    background-color: #fff;
    padding: 0.8rem 2rem 0.8rem 2rem;
    box-shadow: 8px 10px 13px 0px rgba(0, 0, 0, 0.25);
}

.model_body {
    width: 60%;
    right: 4rem;
    margin: 5rem auto;
}


@media screen and (max-width:750px) {
    .model_box {
        max-width: 80%;
    }

    .model_inner {
        width: 90%;
        white-space: normal;
    }

    .model_inner span {
        display: inline-block;
    }

    .model_body {
        width: 80%;
    }

    .tag {
        margin: 0 auto;
    }
}

/* 立ち寄ったスポット */

.model_spot_titile {
    border-bottom: 0.5rem dotted black;
    margin: 1rem 0;
}

.model_spot_body {
    margin-top: 2rem;
    text-align: left;
    overflow-wrap: break-word;
    padding: 1rem;
    width: 60%;
}

.body_detail {
    margin-top: 1.5rem;
}

.card_list_container {
    width: 100%;
    margin: 0 auto;
}

.card_list_title_container h2 {
    text-align: center;
    margin-bottom: 90px;
}


/* カード grid ~~~~~~~~~~~~*/
.model_spot_contanier {
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, 550px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.model_spot_box {
    width: 550px;
    height: fit-content;
    background-color: #ffffff;
    border: 1px solid #181818;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0;
    transition: 0.3s;
    display: flex;
}

/* カード画像  ~~~~~~~~~~*/
.model_spot_img {
    width: 80%;
    /* margin: 8% auto 5%; */
}


@media screen and (max-width:600px) {
    .model_spot_contanier {
        max-width: 400px;
        grid-template-columns: repeat(auto-fit, 350px);
    }

    .model_spot_box {
        width: 350px;
        display: block;
    }

    .model_spot_body {
        margin-top: 1rem;
        width: 80%;
        margin: 0 auto;
    }

    .course_title {
        font-size: 20px;
        margin: 5px;
    }
}

hr {
    width: 80%;
    margin: 0 auto;
    border: 2px solid;
}

/* その他モデルコース */
.other_model_spot_contanier {
    max-width: 1240px;
    margin: 2rem auto;
    padding-bottom: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 170px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.other_model_spot_box {
    width: 170px;
    height: fit-content;
    /* background-color: #ffffff; */
    border: 1px solid #181818;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0;
    transition: 0.3s;
}