@charset "utf-8";

.title_box{
    /* width: 100%; */
    padding-top: 5rem;
    margin-top: 0;
    margin-bottom: 5rem;
}

.qa_box{
    background-color: hsl(39, 80%, 82%);
    width: 1280px;
    height: 400px;
}

.qa_flex_box{
    display: flex;
}

.q_left_box{
    background-color: #b3b3b3;
    width: 135px;
    height: 170px;
}

.content_box{
    background-color: #ffffff;
    width: 1065px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.qa_text_box{
    width: 865px;
    height: auto;
    line-height: 1.5;
    letter-spacing: 3px;
}

.a_left_box{
    background-color: #979797;
    width: 135px;
    height: 170px;
}

.q_left_box,.a_left_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.q_left_box,.a_left_box,.content_box{
    margin-top: 20px;
}
