@charset "utf-8";

img {
    width: 100%;
    height: 100%;
}

.bs {
    border: solid 1px black;
}

/* テンプレート */
.main_conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contents {
    max-width: 1280px;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.template_title_box {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template_title_box2 {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 206, 146);
}

.search_box_inner {
    width: 100%;
    height: 100%;
    margin: 40px 60px 60px 60px;
    font-size: 20px;
}

.search_word_title {
    margin-bottom: 20px;
}

.search_word_input {
    margin-bottom: 40px;
}

.search_word_input_data {
    width: 30%;
    border: solid 1px black;
    background-color: aliceblue;
}

.search_category_title {
    margin-bottom: 20px;
}

.search_form_title {
    margin-bottom: 10px;
}

.search_form_input {
    margin-bottom: 20px;
}

.search_form_label {
    margin-right: 60px;
    font-weight: 500;
}

.search_form_post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_text_green {
    background-color: #166f4b;
    padding: 0 50px 0 50px;
}

.section_text_green_h2 {
    background-color: #ffffff;

}

.search_count_box {
    display: flex;
    margin-bottom: 60px;
}

.search_count_box_text {
    margin-left: 80px;
    font-size: 32px;
}

.pagination_box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 120px;
}

/* レスポンシブ */
@media screen and (max-width: 850px) {}

@media screen and (max-width: 760px) {
    .search_word_input_data {
        width: 90%;
    }

    .search_form_label {
        display: block;
        font-weight: 500;
    }
}
