@charset "utf-8";

/* 全体のcss */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* img{
    width: 100%;
    height: 100%;
} */

/* .wrap{
    background-color: #f6dcac;
} */

/* 全体のcss終了 */

/* フォントのcss */
/* h2,h3,.spot_name,.page_next_text{
    font-family: "Kaisei Opti", serif;
    font-weight: bold;
} */

/* .title_box h2 .right_space {
    font-family: "Kaisei Opti", serif;
    font-weight: bold;
} */

.right_space {
    font-family: "Kaisei Opti", serif;
    font-weight: bold;
}

/* h2 {
    font-size: 42px;
} */

/* h3{
    font-size: 32px;
} */

/* .sub_text_box{
    font-size: 16px;
} */

.spot_name {
    font-family: "Kaisei Opti", serif;
    font-weight: bold;
    font-size: 16px;
}

/* .btn-item-in{
    font-size: 16px;
} */

/* .text_item{
    font-size: 32px;
} */

/* .text-box{
    font-size: 16px;
} */

/* .page_next_text{
    font-size: 32px;
} */

/* フォントのcss終了 */

/* タイトル */
.title_box {
    /* width: 460px; */
    /* height: 263px; */
    /* margin: 0 auto; */
    margin-top: 0;
    padding-top: 5rem;
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    letter-spacing: 3px;
    text-align: center;
}

/* 左に余白を空ける */
.right_space {
    margin-right: 55px;
}

/* 470px以下のタイトル */
@media screen and (max-width:470px) {
    .title_box {
        width: 320px;
        height: auto;
        /* margin-top: 0; */
        /* padding-top: 5rem; */
        /* margin: 0 auto; */
        /* padding-top: 100px; */
        /* padding-bottom: 100px; */
        /* text-align: center; */
        /* line-height: 1.5; */
    }

    .right_space {
        margin-right: 0px;
    }

}

/* タイトル終了 */

/* スライドショー */
/* スライドショーcss */
.spotsarch_slider {

    position: relative;
    overflow: hidden;
    width: 67%;
    max-width: 1280px;
    /* height: 500px; */
    margin: 0 auto;
    background-color: #000;
    /* padding-bottom: 20px; */

}

.spotsarch_slider::before {
    content: "";
    padding-top: 75%;
    display: block;
    /* position: relative;
    overflow: hidden;
    width: 67%;
    max-width: 1280px;
    height: 500px;
    margin:0 auto;
    background-color: #000;
    padding-bottom: 20px; */

}

.spotsarch_slider_img:nth-of-type(1) {
    background-image: url(../images/dummy.jpg);
}

.spotsarch_slider_img:nth-of-type(2) {
    animation-delay: 5s;
    background-image: url(../images/dummy.jpg);
}

.spotsarch_slider_img:nth-of-type(3) {
    animation-delay: 10s;
    background-image: url(../images/dummy.jpg);
}

.spotsarch_slider_img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: sepia(0.5);
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation-name: anime;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

/* アニメーション定義 */
@keyframes anime {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.18);
    }
}

/* スライドショー終了 */

/* 見出し・文章css */
.sub_section_box {
    width: 67%;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.sub_title_box {
    width: auto;
    height: auto;
    letter-spacing: 3px;
    /* margin-top: 200px; */
    /* margin-left: 17%; */
}

.sub_text_box {
    width: auto;
    height: auto;
    /* margin: 100px auto 200px; */
    margin-top: 50px;
    /* margin-bottom: 200px; */
    /* margin-left: 17%; */
    /* margin-right: 17%;  */
    /* font-size: 16px; */
}

/* 見出し・文章css終了 */

/* ボタンcss */

/* ベースのボタンの枠 */
.spot_btn_box {
    width: 1280px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-bottom: 50px */

}

/* ボタンの枠 */
.spot_btn {
    /* display: block; */
    width: 206px;
    height: 72px;
    border: 3px solid #000000;
    border-radius: 25px;
    background-color: #028391;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    box-shadow: 0px 6px 0 0 #000000;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    transition: 0.2s;
    /* z-index: 1; */

}

/* マウスが乗ったとき */
.spot_btn:hover {
    /* transition: 0.2s; */
    margin-top: 3px;
    box-shadow: 0px 3px 0 0 #000000;
    margin-bottom: 47px;
    background-color: #359ba6;
}

/* .spot_btn_box:hover{
    margin-bottom: 47px;
} */
/* マウスが乗ったとき終了 */

/* ボタンのaタグ */
.btn_a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* .spot_btn_box,.spot_btn,.btn_a,.spot_name{
    z-index: 1;
} */


/* 1280px以下、850px以上のボタン */
@media screen and (min-width:850px) and (max-width:1280px) {
    .spot_btn_box {
        width: 850px;
        /* height: auto; */
        /* margin: 0 auto; */
        display: flex;
        /* justify-content: space-around; */
        flex-wrap: wrap;
        /* margin-bottom: 100px */
    }

    .spot_btn {
        /* display: block; */
        width: 146px;
        height: 68px;
        margin-left: 12px;
        margin-right: 12px;
        box-shadow: 0px 6px 0 0 #000000;
    }
}

/* 1280以下、850px以上のボタン終了 */

/* 849px以下、760px以上のボタン */
@media screen and (min-width:760px) and (max-width:849px) {
    .spot_btn_box {
        width: 760px;
    }

    .spot_btn {
        width: 128px;
        height: 60px;
        box-shadow: 0px 5px 0 0 #000000;
        margin-left: 12px;
        margin-right: 12px;
    }

    /* マウスが乗ったとき */
    .spot_btn:hover {
        margin-top: 3px;
        box-shadow: 0px 2px 0 0 #000000;
        margin-bottom: 47px;
        /* background-color: #359ba6; */
    }
}

/* 759px以下、432px以上のボタン */
@media screen and (min-width:432px) and (max-width:759px) {
    .spot_btn_box {
        width: 432px;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    .spot_btn {
        width: 128px;
        height: 60px;
        box-shadow: 0px 5px 0 0 #000000;
        margin-left: 12px;
        margin-right: 12px;
    }

    .spot_btn:nth-of-type(1) {
        margin-left: 0;
        margin-right: 12px;
        margin-bottom: 12px;
    }

    .spot_btn:nth-of-type(2) {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
    }

    .spot_btn:nth-of-type(3) {
        margin-left: 12px;
        margin-right: 0;
        margin-bottom: 12px;
    }

    .spot_btn:nth-of-type(4) {
        margin-top: 12px;
        margin-left: 76px;
        margin-right: 12px;
        margin-bottom: 50px;
    }

    .spot_btn:nth-of-type(5) {
        margin-top: 12px;
        margin-right: 76px;
        margin-left: 12px;
        margin-bottom: 50px;
    }

    /* マウスが乗ったとき */
    .spot_btn:hover:nth-of-type(1) {
        margin-top: 3px;
        box-shadow: 0px 2px 0 0 #000000;
        margin-bottom: 9px;
        /* background-color: #359ba6; */
    }

    .spot_btn:hover:nth-of-type(2) {
        margin-top: 3px;
        box-shadow: 0px 2px 0 0 #000000;
        margin-bottom: 9px;
    }

    .spot_btn:hover:nth-of-type(3) {
        margin-top: 3px;
        box-shadow: 0px 2px 0 0 #000000;
        margin-bottom: 9px;
    }

    .spot_btn:hover:nth-of-type(4) {
        margin-top: 15px;
        box-shadow: 0px 2px 0 0 #000000;
        margin-bottom: 47px;
    }

    .spot_btn:hover:nth-of-type(5) {
        margin-top: 15px;
        box-shadow: 0px 2px 0 0 #000000;
        margin-bottom: 47px;
    }
}

/* 432px以下のボタン */
@media screen and (max-width:431px) {
    .spot_btn_box {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .spot_btn {
        /* width: 128px; */
        width: 60%;
        height: 60px;
        box-shadow: 0px 5px 0 0 #000000;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 30px;
    }

    .spot_btn:nth-of-type(5) {
        margin-bottom: 50px;
    }

    .spot_btn:hover{
        margin-top: 3px;
        margin-bottom: 27px;
        box-shadow: 0px 2px 0 0 #000000;
    }

    .spot_btn:hover:nth-of-type(5) {
        margin-top: 3px;
        box-shadow: 0px 2px 0 0 #000000;
        margin-bottom: 47px;
    }

}

.spot_name {
    color: #ffffff;
    letter-spacing: 0.5px;
}

/* .sub_section_box{
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 200px;
} */

/* ボタンcss終了 */

/* カードの枠のcss */
.spot_card_list_box {
    width: 100%;
    max-width: 1280px;
    height: auto;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    justify-content: space-around;

    /* align-items: center; */
    background-color: #faa968;
    border-radius: 30px;
    border: solid 3px;
    margin: 0 auto;
}

/* カードの枠のcss終了 */

/* カードのCSS */
.card_list_content {
    width: 370px;
    height: fit-content;
    background-color: #ffffff;
    border: 5px solid #181818;
    box-shadow: 10px 10px #face5d;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0;
    transition: 0.3s;

    /* 下記はボタンの作者ではなくページの作者が追記 */
    margin-top: 41px;
}

.card_list_content:nth-of-type(4) {
    margin-bottom: 41px;
}

.card_list_content:nth-of-type(5) {
    margin-bottom: 41px;
}

.card_list_content:nth-of-type(6) {
    margin-bottom: 41px;
}

.card_list_content>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card_list_content:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px #f85625d9;
}

.card_list_content_inner {
    border: 1px solid #181818;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 97%;
    top: 1.5%;
    left: 2.5%;
    pointer-events: none;
}

/* カード画像  ~~~~~~~~~~*/
.card_list_contant_img {
    width: 85%;
    margin: 8% auto 5%;
}

.card_list_contant_img img {
    width: 100%;
    aspect-ratio: 4/3;
}

/* カードタグ  ~~~~~~~~~~*/
.card_list_contant_tag {
    width: 90%;
    height: fit-content;
    margin: 0 auto 5%;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    z-index: 1;
    /* ルートスタッキングコンテキストで包まれている */
}

.card_list_contant_tag a {
    display: flex;
    align-items: center;
    background-color: #18181826;
    color: #000000;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    width: fit-content;
    height: 3em;
    padding: 0 5%;
    margin: 2%;
    border-radius: 50px;
    transition: 0.3s;
}

.card_list_contant_tag a:hover {
    background-color: #FBD266;
}

/* カードの名前  ~~~~~~~~~~*/
.card_list_content_name {
    width: 100%;
}

.card_list_content_name h3 {
    width: 90%;
    background-color: #f85525;
    color: #ffffff;
    font-family: "Kaisei Opti", serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    text-shadow: 2px 1px #01284D;
}

/* カードのテキスト  ~~~~~~~~~~*/
.card_list_contant_text {
    width: 90%;
    margin: 3px auto 3%;
}

.card_list_contant_text p {
    text-align: left;
    overflow-wrap: break-word;
    padding: 0.5em 0.5em 2em;
}

@media screen and (max-width:400px) {
    .card_list_box {
        grid-template-columns: repeat(auto-fit, 280px);
    }

    .card_list_content {
        width: 280px;
    }
}

/* カード grid ~~~~~~~~~~~~*/
/* .other_spot_box {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, 370px);
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* カードの一番外側の枠 */
/* .other_spot_card {
    width: 370px;
    height: fit-content;
    background-color: #ffffff;
    border: 5px solid #F85525;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0;
    transition: 0.3s; */
/* margin-left: 41px; */
/* margin-top: 41px;
} */

/* .other_spot_card:nth-of-type(4){
    margin-bottom: 41px;
}

.other_spot_card:nth-of-type(5){
    margin-bottom: 41px;
}

.other_spot_card:nth-of-type(6){
    margin-bottom: 41px;
} */

/* .other_spot_card>a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.other_spot_card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px #FBD266; */
/* filter: sepia(20%); */
/* } */


/* .other_spot_card_inner {
    border: 3px solid #F85525;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 97%;
    top: 1.5%;
    left: 2.5%;
    pointer-events: none;
} */

/* カード画像  ~~~~~~~~~~*/
/* .other_spot_contant_img {
    width: 85%;
    margin: 8% auto 5%;
} */

/* .other_spot_contant_img img {
    width: 100%;
    aspect-ratio: 4/3;
} */


/* カードタグ  ~~~~~~~~~~*/
/* .other_spot_contant_tag {
    width: 90%;
    height: fit-content;
    margin: 0 auto 5%;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    z-index: 1; */
/* ルートスタッキングコンテキストで包まれている */
/* } */

/* .other_spot_contant_tag a {
    display: flex;
    align-items: center;
    background-color: #181818;
    color: #ffffff;
    font-size: 13px;
    font-family: "Zen Kaku Gothic New", sans-serif;
    width: fit-content;
    height: 3em;
    padding: 0 5%;
    margin: 2%;
    border-radius: 50px;
    transition: 0.3s;
} */

/* .other_spot_contant_tag a:hover {
    background-color: #028391;
} */

/* カードの名前  ~~~~~~~~~~*/
/* .other_spot_content_name {
    width: 100%;
} */

/* .other_spot_content_name h3 {
    background-color: #01204E;
    color: #ffffff;
    font-family: "Kaisei Opti", serif;
    font-size: 24px;
    margin: 0 auto;
    padding: 5%;
} */


/* カードのテキスト  ~~~~~~~~~~*/
/* .other_spot_contant_text {
    width: 90%;
    margin: 3px auto 3%;
    padding: 8px;

} */

/* .other_spot_contant_text p {
    text-align: left;
    overflow-wrap: break-word
} */

/* @media screen and (max-width:400px) {
    .other_spot_card {
        transform: scale(0.85);
        row-gap: 20px;
    }

    .other_spot_card:hover {
        transform: scale(0.9);
    }
} */
/* フード詳細ページのCSS -----------------------------*/

/* .detail_title_sub.food a:hover {
    background-color: #02839188;
} */

/* .shop_detail_slider_box.food {
    background-color: #fffdf0;
    box-shadow: 30px 30px #F85525;
    border: 3px solid #01204E;
} */

/* .other_spot_card.food {
    border: 5px solid #028391;
} */

/* .other_spot_card.food:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px #5aff94; */
/* filter: sepia(20%); */
/* } */

/* .other_spot_card_inner.food {
    border: 3px solid #028391;
} */

/* .other_spot_contant_tag.food a:hover {
    background-color: #FBD266;
    color: #181818;
} */

/* カードのCSS終了 */

/* ページ番号と次へ css */
.spot_pagination_box {
    width: 70%;
    margin: 0 auto;
    padding: 3em;
}

.spot_pagination {
    display: flex;
    justify-content: center;
}

.spot_pagination a {
    color: black;
    font-weight: 800;
    font-size: 16px;
    padding: 0.5rem 0.8rem;
    margin: 1rem;
}

.spot_pagination a.active {
    background-color: #1A2B3C;
    color: white;
    border-radius: 20%;
}

.spot_pagination a:hover:not(.active) {
    background-color: #B3B3B3;
    color: #fff;
    border-radius: 10px;
}

/* .page_next_box{
    width: 214px;
    height: 148px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
} */

/* .page_box{
    width: 60px;
    height: 48px;
} */

/* .next_box{
    width: 70px;
    height: 48px;
    position: relative;
} */

/* .page_next_text{
    font-size: 32px;
    color: #000000;
    line-height: 1.5;
    letter-spacing: 3px;
} */

/* .page_next_link{
    text-decoration: none;
    color: #000000;
} */

/* .page_next_link::before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    transform-origin: left top;
    transform: scale(0,1);
} */

/* .page_next_link:hover:before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    transform-origin: left top;
    transform: scale(1,1);
} */

/* ページ番号と次へ終了 */
